.wrapper{
    width: 1275px;
    text-align: center;
    
}
.wrapper h3{
    color: white;
}
.onlyHealth {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    font-size: 2.5em;
    font-weight: bolder;
    line-height: 100px;
    float: left;
}
.health {
    height: 60px;
    width: 60px;
    background-color: red;
    border-radius: 50%;
    line-height: 60px;
    position: relative;
    left: 20%;
    bottom: 5%;
}
.shield {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    border-radius: 50%;
    z-index: -1;
    font-size: 2em;
    font-weight: bolder;
    float: left;
}
.apToken {
    height: 30px;
    width: 30px;
    background-color: gold;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    line-height: 30px;
    display: inline-block;
    margin: 1px;
}
.negApToken {
    height: 30px;
    width: 30px;
    background-color: darkslateblue;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    line-height: 30px;
    display: inline-block;
    margin: 1px;
}
.ap {
    float: right;
    padding: 2px;
}
.hpToken {
    height: 30px;
    width: 30px;
    background-color: lightseagreen;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    line-height: 30px;
    display: inline-block;
    margin: 1px;
}
.negHpToken {
    height: 30px;
    width: 30px;
    background-color: indigo;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    line-height: 30px;
    display: inline-block;
    margin: 1px;
}
.hp {
    float: right;
    padding: 2px;
}
.ready {
    background-color: green;
    border: 1px solid green;
    color: white;
    height: 80px;
    width: 80px;
    margin: 50px;
    border-radius: 50%;
    box-shadow:0 1px 2px darkgreen;
    font-size: 1.3em;
    font-weight: bolder;
}
.card {
    width:208px;
    height:321px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 1px solid black;
    display: inline-block;
    background-color: rgb(32, 4, 4);
    color: white;
    margin: 5px;
}
.highlight {
    border: 3px gold solid;
}
.hand {
    
}
button{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    
    
}
