.wrapper{
    width: 1275px;
    text-align: center;
}
.onlyHealth {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    font-size: 2.5em;
    font-weight: bolder;
    line-height: 100px;
    float: left;
}
.health {
    height: 60px;
    width: 60px;
    background-color: red;
    border-radius: 50%;
    line-height: 60px;
    position: relative;
    left: 20%;
    bottom: 5%;
}
.shield {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    border-radius: 50%;
    z-index: -1;
    font-size: 2em;
    font-weight: bolder;
    float: left;
}
.apToken {
    height: 30px;
    width: 30px;
    background-color: gold;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    line-height: 30px;
    display: inline-block;
    margin: 1px;
}
.ap {
    float: right;
    padding: 2px;
}
.hpToken {
    height: 30px;
    width: 30px;
    background-color: lightseagreen;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    line-height: 30px;
    display: inline-block;
    margin: 1px;
}
.hp {
    float: right;
    padding: 2px;
}