<div class="wrapper" *ngIf="player">
  <div *ngIf="player.shields > 0" class="shield">{{player.shields}}
    <div class="health">{{player.health}}</div>
  </div>
  <div *ngIf="player.shields === 0" class="onlyHealth">{{player.health}}</div>
  <div class="ap" *ngIf="player.aptokens.length > 0">
    <div class="apToken" *ngFor="let aptoken of player.aptokens">AP</div>
  </div>
  <div class="hp" *ngIf="player.hptokens.length > 0">
    <div class="hpToken" *ngFor="let hptoken of player.hptokens">HP</div>
  </div>
  <div>
    <button (click)="testAttack()">Test Attack</button><button (click)="ready()">Ready</button>
  </div>
</div>