.wrapper{
    width: 1175px;
    //text-align: center;
    
}
.name{
    color: white;
    text-align: left;
}
.onlyHealth {
    height: 75px;
    width: 75px;
    background-color: red;
    border-radius: 50%;
    font-size: 2.5em;
    font-weight: bolder;
    line-height: 100px;
    float: left;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 8px darkslategrey;
    
}

.health {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    line-height: 60px;
    position: relative;
    left: 20%;
    bottom: 5%;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 8px darkslategrey;
}

.shield {
    height: 80px;
    width: 80px;
    background-color: lightblue;
    border-radius: 50%;
    z-index: -1;
    font-size: 2em;
    font-weight: bolder;
    float: left;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 8px darkslategrey;
}
.apToken {
    height: 30px;
    width: 30px;
    background-color: gold;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    line-height: 30px;
    display: inline-block;
    margin: 1px;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 8px darkslategrey;
    }
.negApToken {
    height: 30px;
    width: 30px;
    background-color: darkslateblue;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    line-height: 30px;
    display: inline-block;
    margin: 1px;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 8px darkslategrey;
}
.ap {
    float: right;
    padding: 2px;
    
}
.hpToken {
    height: 30px;
    width: 30px;
    background-color: lightseagreen;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    line-height: 30px;
    display: inline-block;
    margin: 1px;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 8px darkslategrey;
}
.negHpToken {
    height: 30px;
    width: 30px;
    background-color: indigo;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    line-height: 30px;
    display: inline-block;
    margin: 1px;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 8px darkslategrey;
}
.hp {
    float: right;
    padding: 2px;
    
}
.ready {
    background-color: green;
    border: 1px solid green;
    color: white;
    height: 80px;
    width: 80px;
    margin: 50px;
    border-radius: 50%;
    box-shadow:0 1px 2px darkgreen;
    font-size: 1.3em;
    font-weight: bolder;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
}
.card {
    width:170px;
    height:268px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    background-color:black;
    background-image:
        radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
        radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
        radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
        radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 180px 180px, 153px 202px, 150px 105px, 150px 120px, 579px 490px; 
    background-position: 0 0, 4px 6180px, 130px 1270px, 7410px 2930px, 34px 25px;
    color: white;
    margin: 5px;
    text-shadow: 1px 1px 8px darkslategrey;
}
.highlight {
    border: 3px gold solid;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: xx-small;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    
        text-shadow: 2px 2px 8px darkslategrey;
}
button img {
    width: 40px;
    height: 40px;
}
