.container {
    padding: 5px 20px 5px 20px;
    
    background: linear-gradient(to bottom, rgba(34,4,102,1) 0%, rgba(188,224,238,1) 100%);
}
.header{
    padding: 2px;
    height: 10px;
    width: 100%;
    text-align: left;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
