.front {
    position: absolute;
    height:100%;
    width:100%;
    background-color: #CC3333;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    color: #fff;
    text-align: center;
    line-height: 208px;
    font-family: Helvetica;
}
.back {
  position: absolute;
  height:100%;
  width:100%;
  background-color: #999999;
  backface-visibility: hidden;
  color: #fff;
  text-align: center;
  line-height: 208px;
  font-family: Helvetica;
}
.card {
    position:relative;
    width:321px;
    height:208px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transform-style:preserve-3d;
}
.card-wrapper {
    height: 208px;
	width: 321px;
    perspective:800px;
    display: inline-block;
  }
