<div *ngIf="state && state.gameOn">
  <div *ngFor="let row of state.gameboard.grid">
    <div class="card-wrapper" *ngFor="let card of row"> 
      <div class="card" (click)="divineTime(card); spellCheck(card); toggleState(card);" [@cardState]="card.faceUp"> 
        <!-- front of the card-->
        <div class="front">
          <img src="../../assets/{{card.elem}}.png" alt="" width="100px" height="100px">
        </div>
        <!-- back of the card-->
        <div [ngClass]="{'backReg': !card.highlight, 'backHighlight': card.highlight}"></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="selected">
  <br>
  <h2>Card has already been selected!!</h2>
</div>
<div *ngIf="spell.length > 0">
  <h1>Select a {{spell[0]}}</h1>
</div>
<div *ngIf="castSuccess">
  <h1>Spell was cast successfully!!</h1>
</div>
<div *ngIf="castBotched">
  <h1>Spell cast was botched!!  UH OH!</h1>
</div>
<div *ngIf="_wss.targetingPlayer">
  <h1>Select an Enemy to Target with Spell!</h1>
</div>
<div *ngIf="_wss.targetingCards">
  <h1>Select the card to Target with Spell Effect!</h1>
</div>