<div class="board" *ngIf="gameState.value > 1 && gameState.mode !== 'learnAction' && !state.gameOver" >
  <div *ngFor="let row of state.gameboard.grid">
    <div class="card-wrapper" *ngFor="let card of row"> 
      <div class="card" (click)="divineTime(card); spellCheck(card); weaveTime(card); scryTime(card); obscureTime(card);" [@cardState]="card.faceUp"> 
        <!-- front of the card-->
        <div class="front">
          <img src="../../assets/{{card.elem}}.png" alt="" width="75px" height="75px">
        </div>
        <!-- back of the card-->
        <div [ngClass]="{'backReg': !card.highlight, 'backHighlight': card.highlight}">
          <img src="../../assets/magic_hat.png" alt="" width="75px" height="75px">
        </div>
        
      </div>
    </div>
  </div>
</div>

<!-- Combat log -->
<div #combatLog class="combatLog" *ngIf="state && state.gameOn && !state.gameOver && gameState.mode !== 'learnAction'"  [scrollTop]="combatLog.scrollHeight">
  <p *ngFor="let message of state.history">{{message}}</p>
</div>
<div *ngIf="selected">
   <h2>That Card is invalid!!</h2>
</div>
<div *ngIf="spellElems.length > 0">
    <h1>Call upon the {{this.spellElems[0] | uppercase}} of  your spell's remaining elements: {{spellElems}}</h1>
</div>
<div *ngIf="castSuccess">
    <h1>Spell was cast successfully!!</h1>
</div>
<div *ngIf="castBotched">
    <h1>Spell cast was botched!!  UH OH!</h1>
</div>
<div *ngIf="gameState.mode === 'targetingPlayer' ">
    <h1>Select an Enemy to Target with Spell!</h1>
</div>

<div *ngIf="state.gameOver">
    <h1>{{state.winner.name}} has won the battle, and is now the Archchancellor!!!</h1>
</div>