.front {
    position: absolute;
    height:100%;
    width:100%;
    background-color: white;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    text-align: center;
    line-height:125px;
    font-family: Helvetica;
}
.front img {
    vertical-align: middle;
}
.backReg {
  position: absolute;
  height:100%;
  width:100%;
  background: radial-gradient(circle, white 3%, grey 30%, rgb(68, 12, 68) 75%);
  backface-visibility: hidden;
  color: #fff;
  text-align: center;
  line-height: 125px;
  font-family: Helvetica;
}
.backHighlight {
    position: absolute;
    height:100%;
    width:100%;
    background-color: black;
    backface-visibility: hidden;
    color: #fff;
    text-align: center;
    line-height: 125px;
    font-family: Helvetica;
  }
.card {
    // position:relative;
    width:225px;
    height:125px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transform-style:preserve-3d;
    border: 2px solid darkgrey;
    border-style: double;
   
}
.card-wrapper {
    height: 125px;
	width: 225px;
    perspective:800px;
    display: inline-block;
    margin:  -2px 0px;
  }
  .backReg img {
    vertical-align: middle; 
  }
