<div *ngFor="let enemy of _wss.enemies" class="enemy">
  <h3>{{enemy.name}}</h3>
  <div *ngIf="enemy.shields > 0"class="shield">{{enemy.shields}}
    <div class="health">{{enemy.health}}</div>
  </div>
  <div *ngIf="enemy.shields === 0"class="onlyHealth">{{enemy.health}}</div>
  <div class="ap" *ngIf="enemy.aptokens.length > 0">
    <div class="apToken" *ngFor="let aptoken of enemy.aptokens">AP</div>
  </div>
  <div class="hp" *ngIf="enemy.hptokens.length > 0">
    <div class="hpToken" *ngFor="let hptoken of enemy.hptokens">HP</div>
  </div>
</div>
