<div *ngIf="enemies && !state.gameOver">  
    <div *ngFor="let enemy of enemies" class="enemy" (click)="selectEnemy(enemy)">
        <h3>{{enemy.name}}</h3>
        <div *ngIf="enemy.shields > 0 && !enemy.isGhost"class="shield">{{enemy.shields}}
          <div class="health">{{enemy.health}}</div>
        </div>
        <div *ngIf="enemy.shields === 0 && !enemy.isGhost"class="onlyHealth">{{enemy.health}}</div>
        <div class="ap" *ngIf="enemy.aptokens >= 0">
          <div class="apToken" *ngFor="let aptoken of enemy.apTokens">AP</div>
        </div>
        <div class="ap" *ngIf="enemy.aptokens < 0 && !enemy.isGhost">
          <div class="negApToken" *ngFor="let aptoken of enemy.apTokens">-AP</div>
        </div>
        <div class="hp" *ngIf="enemy.hptokens >= 0 && !enemy.isGhost">
          <div class="hpToken" *ngFor="let hptoken of enemy.hpTokens">HP</div>
        </div>
        <div class="hp" *ngIf="enemy.hptokens < 0 && !enemy.isGhost">
          <div class="negHpToken" *ngFor="let hptoken of enemy.hpTokens">-HP</div>
        </div>
    </div>

    <div *ngIf="gameState.value === 14">
        <h2>That enemy is an invalid target!!!</h2>
    </div>
</div>
    
