.enemy {
    width: 450px;
    display: inline-block;
    height: 100px;
    text-align: center;
    margin-bottom: 5px;
    padding-right: 50px;
}
.enemy h3 {
    margin: 0;
    display: inline-block;
    position: relative;
    top: 80px;
    color: red;
}
.onlyHealth {
    height: 75px;
    width: 75px;
    background-color: red;
    border-radius: 50%;
    font-size: 2.5em;
    font-weight: bolder;
    line-height: 100px;
    float: left;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 8px darkslategrey;
}
.health {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    line-height: 60px;
    position: relative;
    left: 20%;
    bottom: 5%;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 8px darkslategrey;
}
.shield {
    height: 80px;
    width: 80px;
    background-color: lightblue;
    border-radius: 50%;
    z-index: -1;
    font-size: 2em;
    font-weight: bolder;
    float: left;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 8px darkslategrey;
}
.apToken {
    height: 30px;
    width: 30px;
    background-color: gold;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    line-height: 30px;
    display: inline-block;
    margin: 1px;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 8px darkslategrey;
}
.negApToken {
    height: 30px;
    width: 30px;
    background-color: darkslateblue;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    line-height: 30px;
    display: inline-block;
    margin: 1px;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 8px darkslategrey;
}
.ap {
    float: right;
    padding: 2px; 
} 
.hpToken {
    height: 30px;
    width: 30px;
    background-color: lightseagreen;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    line-height: 30px;
    display: inline-block;
    margin: 1px;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 8px darkslategrey;
}
.negHpToken {
    height: 30px;
    width: 30px;
    background-color: indigo;
    border-radius: 50%;
    font-size: 1em;
    font-weight: bolder;
    line-height: 30px;
    display: inline-block;
    margin: 1px;
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 2px 2px 1px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 8px darkslategrey;
}
.hp {
    float: right;
    padding: 2px;
}
h2{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}